@model IEnumerable<Practica4Web.Entities.ProductoEnt>

@{
    ViewData["Title"] = "ConsultarProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar</h2>

<table class="table">
    <thead>
        <tr>

            <th>Descripcion</th>
            <th>Precio</th>
            <th>Saldo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Descripcion</td>
                <td>@item.Precio</td>
                <td>@item.Saldo</td>
                <td>@item.Estado</td>
            </tr>
        }
    </tbody>
</table>
