@model Practica4Web.Entities.ProductoEnt

@{
    ViewData["Title"] = "RegistrarProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Registro de compras pendientes</h4>

            <form class="forms-sample" id="formAccountSettings" method="post" asp-action="RegistrarAbono" asp-controller="Producto">
                <div class="form-group">
                    <label for="Id_Compra">Compra</label>
                    @Html.DropDownListFor(x => x.Id_Compra, ViewBag.ProductosPendientesDropDown as List<SelectListItem>,
                             new { @class = "form-control", id = "Id_Compra", @required = "required", placeholder = "Seleccione un valor" })
                </div>

                <div class="form-group">
                    <label for="Saldo">Saldo</label>
                    <input type="text" class="form-control" id="Saldo" readonly />
                </div>

                <div class="form-group">
                    <label for="Monto">Abono</label>
                    @Html.TextBoxFor(m=> m.Monto, new {@class="form-control form-control-lg",@type="number",@placeholder="Monto del Abono"})
                  

                   
                </div>

                <button type="submit" class="btn btn-primary mr-2">Abonar</button>

          
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            // Obtener saldo al cambiar la selección
            $("#Id_Compra").change(function () {
                var selectedValue = $(this).val();
                $.ajax({
                    url: "/Producto/ObtenerSaldoIdCompra",
                    type: "GET",
                    data: { Id_Compra: selectedValue },
                    success: function (data) {
                        if (data && data.saldo !== undefined) {
                            $("#Saldo").val(data.saldo);
                        } else {
                            console.log("Error: Propiedad 'saldo' no encontrada en la respuesta");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Error en la solicitud Ajax:", status, error);
                    }
                });
            });

            // Realizar abono al presionar el botón "Abonar"
            $("#formAccountSettings").submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    url: "/Producto/RegistrarAbono",
                    type: "POST",
                    data: formData,
                    success: function (data) {
                        var abonoExitoso = true;

                        if (abonoExitoso) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Abono realizado correctamente',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                // Recargar la página actual después de la alerta
                                window.location.reload();
                            });
                        }
                    },

                    error: function (xhr, status, error) {
                        // Mostrar SweetAlert2 en caso de error
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'No se logró realizar el abono',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            // Recargar la página si hay un error
                            window.location.reload();
                        });
                        console.log("Error en la solicitud Ajax:", status, error);
                    }
                });
            });
        });



    </script>
}




