@model Practica4Web.Entities.ProductoEnt


@{
    ViewData["Title"] = "RegistrarProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Registro</h4>


            <form class="forms-sample" id="formAccountSettings" method="post" asp-action="RegistrarProducto" asp-controller="Producto">

                @Html.HiddenFor(m => m.Id_Compra)

                <div class="form-group">
                    <label for="Id_Compra">Compra</label>
                    @Html.DropDownListFor(m => m.Id_Compra, ViewBag.Productos as List<SelectListItem>, new { @class = "form-control form-control-lg", id = "Id_Compra" })
                </div>

                <button type="button" class="btn btn-primary" id="btnConsultarSaldo">Consultar Saldo</button>


                <div class="form-group" id="saldoContainer">
                    <label for="Saldo">Saldo Anterior</label>
                    @Html.TextBoxFor(m => m.Saldo, new { @readOnly = "readOnly", @style = "background-color:#eeeeee", @class = "form-control form-control-lg", @type = "text", @placeholder = "Saldo Anterior", id = "Saldo" })
                </div>

                <button type="submit" class="btn btn-primary mr-2">Abonar</button>
                <button class="btn btn-light">Cancelar</button>

            </form>



        </div>
    </div>
</div>







<script>
    $(document).ready(function () {
        // Manejar el evento de clic del botón Consultar Saldo
        $("#btnConsultarSaldo").click(function () {
            // Obtener el valor seleccionado del DropDownList
            var selectedCompra = $("#Id_Compra").val();

            // Realizar una solicitud para obtener el saldo asociado a la compra seleccionada
            // Puedes ajustar la URL según tu aplicación
            $.ajax({
                url: '/Producto/ObtenerSaldoIdCompra',
                type: 'GET',
                data: { idCompra: selectedCompra },
                success: function (data) {
                    console.log(typeof data); // Verifica el tipo de dato (debería ser 'string')

                    // Convierte el valor a un número antes de asignarlo al campo de saldo
                    var saldoAsNumber = parseFloat(data);

                    // Verifica el valor convertido en la consola
                    console.log(saldoAsNumber);

                    // Actualizar el valor del campo de saldo
                    $("#Saldo").val(saldoAsNumber);
                },
                error: function () {
                    alert('Error al obtener el saldo.');
                }
            });
        });
    });
</script>