@model Practica4Web.Entities.ProductoEnt



@{
    ViewData["Title"] = "RegistrarProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                  <h1>Registro </h1>
                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Consultar </button>
                </div>

                @using (Html.BeginForm("RegistrarProducto", "Producto", FormMethod.Post, new { @class = "pt-3" }))
                {

                    @ViewBag.MensajePantalla


                    <div class="form-group">
                        <label>Compra</label>
                        @*@Html.DropDownListFor(m => m.ConProvincia, ViewBag.Provincias as List<SelectListItem>, new { @class="form-control form-control-lg" })*@
                    </div>

                    <div class="form-group">
                        <label>Saldo Anterior</label>
                         @Html.TextBoxFor(m => m.Saldo, new { @readOnly = "readOnly", @style = "background-color:#eeeeee", @class = "form-control form-control-lg", @type = "text", @placeholder = "Saldo Anterior" }) 
                    </div>

                    <div class="form-group">
                        <label>Abono</label>

                        @Html.TextBoxFor(m => m.Monto, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Abono" })
                    </div>
             
                    <div class="mt-3">
                        <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Abonar">
                    </div>
                  
                }

            </div>
        </div>
    </div>
</div>

